/* ヘッダースタイル */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #007BFF;
    color: white;
}

.back-button {
    font-size: 2rem;
    cursor: pointer;
}

.chat-members-button {
    font-size: 2rem;
    cursor: pointer;
}

/* チャットメッセージスタイル */
.chat-messages {
    /* チャットメッセージのスタイルを追加 */
}

.chat-message {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
}

.message-sender {
    font-weight: bold;
    color: #007BFF;
}

/* チャット入力スタイル */
.chat-input {
    display: flex;
    margin-top: 20px;
}

.option-button {
    font-size: 2rem;
    cursor: pointer;
    color: #007BFF;
}

#openOptions {
    margin-right: 10px;
    font-size: 2rem;
}

/* 送信ボタンのスタイル */
.send-button {
    /* 送信ボタンのスタイルを追加 */
}

/*メンバー表示ポップアップ*/
#membersPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup-content {
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #007BFF;
}